AI Video Generator.json
{
  "nodes": [
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Submit Text Prompt untuk Generate Video\"].json[\"api_key\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a8cd640-8de5-428e-89ef-03e166b89a76",
      "name": "Mendapatkan Status Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        432,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.state }}",
              "value2": "=success"
            }
          ]
        }
      },
      "id": "2363c410-1584-4c86-a256-9d1194590927",
      "name": "Check Jika Generate Sudah Selesai",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  videoUrl: result.resultUrls?.[0] || null\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -16
      ],
      "id": "db6de0a2-a853-4ae9-a79c-c56ee5332ab1",
      "name": "Parse Video URL"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        -16
      ],
      "id": "44437c15-edaf-406e-92cc-fb0b57e05704",
      "name": "Download Video"
    },
    {
      "parameters": {
        "name": "Video Topik 3",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "10Lwv9GKv8_Gfsimkqe3VAYZneJhHbngQ",
          "mode": "list",
          "cachedResultName": "Hasil Topik 2 dan 3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/10Lwv9GKv8_Gfsimkqe3VAYZneJhHbngQ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1312,
        -16
      ],
      "id": "5743b02a-16a3-4ac6-9cf6-71703810746c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ii6AFuNCnoR3xvBe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "path": "93716870-877d-47e7-95e8-dce3d2cb9035",
        "formTitle": "Generate Video Konten Otomatis",
        "formDescription": "Isi informasi di bawah ini untuk memulai proses generate gambar",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt"
            },
            {
              "fieldLabel": "img_url"
            },
            {
              "fieldLabel": "task_type"
            },
            {
              "fieldLabel": "api_key"
            }
          ]
        },
        "options": {}
      },
      "id": "81a59300-b7ee-43aa-b058-5672f43d34d3",
      "name": "Submit Text Prompt untuk Generate Video",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        0
      ],
      "webhookId": "93716870-877d-47e7-95e8-dce3d2cb9035"
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "c4fa6c51-f41e-4e7e-a6c3-cb79ee75372c",
      "name": "Menunggu Proses Generate Video",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "webhookId": "85f7c7ce-9548-47b1-9cb1-cb207e6b6639"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"image_urls\": [\n      \"{{$json.img_url}}\"\n    ],\n    \"prompt\": \"{{$json.prompt}}\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"480p\"\n  }\n}",
        "options": {}
      },
      "id": "9317c0f9-eb9c-43d8-85f5-956909827176",
      "name": "Mengirim Video Generation Request ke..",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Mendapatkan Status Generate": {
      "main": [
        [
          {
            "node": "Check Jika Generate Sudah Selesai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Jika Generate Sudah Selesai": {
      "main": [
        [
          {
            "node": "Parse Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video URL": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Text Prompt untuk Generate Video": {
      "main": [
        [
          {
            "node": "Mengirim Video Generation Request ke..",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu Proses Generate Video": {
      "main": [
        [
          {
            "node": "Mendapatkan Status Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Video Generation Request ke..": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Submit Text Prompt untuk Generate Video": [
      {
        "prompt": "A cinematic high-energy video of a 5K Fun Run in a sunny city park. Thousands of diverse runners in vibrant neon jerseys running towards the camera, laughing and high-fiving. Slow-motion shots of water splashing at a hydration station, colorful confetti exploding at the finish line, and a festive atmosphere with balloons. 4K, highly detailed, upbeat mood.",
        "img_url": "https://drive.google.com/uc?export=download&id=1okERGlKUAlA4TVwnBDoGEuS5qnI2Dxgn",
        "task_type": "",
        "api_key": "64f5ac11acdfc4947331f3a1a80cad52",
        "submittedAt": "2026-04-06T12:54:20.221Z",
        "formMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04b95c2f46319473af2c6f83e011a1ddc73025f83f7530dc90eb04615e801b58"
  }
}