Analisis Sentimen Harian ($BTCH_$ETH).json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        -128
      ],
      "id": "721ca5dd-6318-4f83-bc95-8bd412b97d73",
      "name": "Tiap 15 Menit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe8bda65-d955-4c8e-867f-42f4bee87b06",
              "name": "text",
              "value": "={\n  \"BTC\": {\n    \"total\": 105,\n    \"bullish\": 49,\n    \"bearish\": 32,\n    \"neutral\": 24,\n    \"avg_compound\": 0.0849,\n    \"signal\": \"BULLISH\",\n    \"scraped_at\": \"2026-04-23T07:33:29.687619\"\n  },\n  \"ETH\": {\n    \"total\": 69,\n    \"bullish\": 31,\n    \"bearish\": 26,\n    \"neutral\": 12,\n    \"avg_compound\": 0.0209,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-23T07:33:29.688126\"\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -128
      ],
      "id": "ddd5a40e-674f-451e-a32d-10c6afe6b4b1",
      "name": "Data Scraping"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the sentiment of the following tweet. Respond ONLY with ONE word: 'Positive', 'Negative', or 'Neutral'.\n\nTweet:\n{{ $json.text }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        64,
        -128
      ],
      "id": "cafcd77b-4217-42b5-b98d-5c08eb030d68",
      "name": "Analisis Sentimen"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1W5Vm30T5CSrmSm1FMWbAyNdmrMsxd6XSUGzRV5XwI7k",
          "mode": "list",
          "cachedResultName": "$BTCH dan $ETH Sentimen ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W5Vm30T5CSrmSm1FMWbAyNdmrMsxd6XSUGzRV5XwI7k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W5Vm30T5CSrmSm1FMWbAyNdmrMsxd6XSUGzRV5XwI7k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}",
            "Sentiment": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -128
      ],
      "id": "adb8cc1f-e822-4512-8d5b-3a2ad845869f",
      "name": "Penyimpanan Hasil",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iGrHos0duFyJ0R1v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        224
      ],
      "id": "6cf6c7c6-08af-4cf7-bbf0-920a6e2543e5",
      "name": "Tiap Jam 7 Pagi"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1W5Vm30T5CSrmSm1FMWbAyNdmrMsxd6XSUGzRV5XwI7k",
          "mode": "list",
          "cachedResultName": "$BTCH dan $ETH Sentimen ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W5Vm30T5CSrmSm1FMWbAyNdmrMsxd6XSUGzRV5XwI7k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W5Vm30T5CSrmSm1FMWbAyNdmrMsxd6XSUGzRV5XwI7k/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        224
      ],
      "id": "8f489138-ebf6-4929-987a-f9ef14f29c2b",
      "name": "Baca Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iGrHos0duFyJ0R1v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $items(\"Baca Data\");\n\nlet positive = 0;\nlet negative = 0;\nlet neutral = 0;\n\nfor (const item of items) {\n  const sentiment = item.json.Sentiment;\n  if (sentiment === 'Positive') positive++;\n  else if (sentiment === 'Negative') negative++;\n  else if (sentiment === 'Neutral') neutral++;\n}\n\nreturn {\n  total_tweets: items.length,\n  sentimen_positif: positive,\n  sentimen_negatif: negative,\n  sentimen_netral: neutral,\n  tanggal_sekarang: $now.setZone('Asia/Jakarta').setLocale('id').toFormat('dd MMMM yyyy')\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ],
      "id": "f7f44d08-612c-4def-9d7f-10d7245eb4bb",
      "name": "Analisis Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah seorang analis sentimen media sosial.\nTuliskan laporan untuk Telegram dengan format berikut:\n\nKesimpulan Sentimen Telegram (Tanggal {{ $now.format('dd/MM/yyyy') }}):\n\n- Total Tweet Dianalisis: {{ $json.total_tweets }}\n- Sentimen Positif: {{ $json.sentimen_positif }}\n- Sentimen Negatif: {{ $json.sentimen_negatif }}\n- Sentimen Netral: {{ $json.sentimen_netral }}\n\nBerikan ringkasan singkat dalam 1-2 paragraf tentang apa arti angka-angka ini.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        224
      ],
      "id": "02bbe9ed-0792-44a0-8ef7-fd928ce37fbb",
      "name": "Membuat Kesimpulan"
    },
    {
      "parameters": {
        "chatId": "1492595082",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        224
      ],
      "id": "87378c6a-df30-4e8f-abd6-5f8f6c7f0d0c",
      "name": "Kirim Laporan",
      "webhookId": "69320ca2-1710-48bf-b7e1-c3320810369a",
      "credentials": {
        "telegramApi": {
          "id": "OrVOckaYs7PxxLt4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        368
      ],
      "id": "db31865d-468d-4281-8118-a0a3be7fd1d9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "q1V4eIb4MAY1TjSF",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -64,
        16
      ],
      "id": "325c35b3-ef5c-4599-ad59-d7105d08eae6",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "q1V4eIb4MAY1TjSF",
          "name": "Groq account"
        }
      }
    }
  ],
  "connections": {
    "Tiap 15 Menit": {
      "main": [
        [
          {
            "node": "Data Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Scraping": {
      "main": [
        [
          {
            "node": "Analisis Sentimen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Sentimen": {
      "main": [
        [
          {
            "node": "Penyimpanan Hasil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiap Jam 7 Pagi": {
      "main": [
        [
          {
            "node": "Baca Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Data": {
      "main": [
        [
          {
            "node": "Analisis Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Data": {
      "main": [
        [
          {
            "node": "Membuat Kesimpulan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kesimpulan": {
      "main": [
        [
          {
            "node": "Kirim Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat Kesimpulan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis Sentimen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04b95c2f46319473af2c6f83e011a1ddc73025f83f7530dc90eb04615e801b58"
  }
}