Auto Posting Scheduler.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ae5a11df-eac9-42a5-8166-d7a2e525712a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gBZQ-xHCSkCiIgq8MO-tYPYSRxQkXylRIDRjKT-w7Ng",
          "mode": "list",
          "cachedResultName": "copy Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gBZQ-xHCSkCiIgq8MO-tYPYSRxQkXylRIDRjKT-w7Ng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gBZQ-xHCSkCiIgq8MO-tYPYSRxQkXylRIDRjKT-w7Ng/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "fa6e4b92-1e14-45fd-be38-461515344e8c",
      "name": "Ambil Data Posting",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iGrHos0duFyJ0R1v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = DateTime.now().setZone('Asia/Jakarta');\nconst postsToSend = [];\n\nfor (const item of items) {\n  const row = item.json;\n  const dateStr = row['Scheduled Date']; \n  const timeStr = row['Scheduled Time']; \n  // Ambil status dan bersihkan spasi\n  const status = (row.Status || \"\").trim(); \n\n  // KOREKSI: Kembalikan pengecekan Status 'Pending'\n  // Ini mencegah pesan 'Published' terkirim ulang\n  if (status === 'Pending' && dateStr && timeStr) {\n    \n    // Gabungkan Tanggal + Jam\n    const fullDateTimeStr = `${dateStr} ${timeStr}`.trim();\n    \n    // Gunakan H:mm:ss agar bisa membaca jam 9:30:00 maupun 14:30:00\n    const scheduledTime = DateTime.fromFormat(fullDateTimeStr, \"dd/MM/yyyy H:mm:ss\", { zone: 'Asia/Jakarta' });\n\n    // Hanya masukkan ke array jika format valid DAN waktunya sudah tiba (<= sekarang)\n    if (scheduledTime.isValid && scheduledTime <= now) {\n      postsToSend.push(item);\n    }\n  }\n}\n\nreturn postsToSend;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "dc9ec485-613d-4ad9-9301-4fa8e976eae1",
      "name": "Filter Ready Post",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "1492595082",
        "text": "={{ $json.Content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "5979cfc3-bfe0-4dab-a5e0-16930e534500",
      "name": "Send a text message",
      "webhookId": "4c13ae78-e98f-4b4d-9edb-a1abb6e9ab19",
      "credentials": {
        "telegramApi": {
          "id": "OrVOckaYs7PxxLt4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ac82292-74f3-4989-b02d-cf458114c789",
              "name": "row_number",
              "value": "={{ $('Filter Ready Post').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "6b85cccd-0e8d-402a-98e3-bd415a42d0ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gBZQ-xHCSkCiIgq8MO-tYPYSRxQkXylRIDRjKT-w7Ng",
          "mode": "list",
          "cachedResultName": "copy Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gBZQ-xHCSkCiIgq8MO-tYPYSRxQkXylRIDRjKT-w7Ng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gBZQ-xHCSkCiIgq8MO-tYPYSRxQkXylRIDRjKT-w7Ng/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Filter Ready Post').item.json.ID }}",
            "Status": "Published"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "7ddf94fc-b395-43e3-b1d7-9ac25235b4b5",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iGrHos0duFyJ0R1v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ambil Data Posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Data Posting": {
      "main": [
        [
          {
            "node": "Filter Ready Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready Post": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04b95c2f46319473af2c6f83e011a1ddc73025f83f7530dc90eb04615e801b58"
  }
}