Laporan Pengeluaran Mingguan.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "39e51719-6a8f-46c0-a154-5e7995ddc632",
              "leftValue": "={{ $node[\"Filter 7 Hari dan Format Teks\"].json.hasExpenses }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        -16
      ],
      "id": "e9cdd7ff-dec9-47a6-8882-1aca3367d39d",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Filter 7 Hari dan Format Teks\"].json.promptData }} \n(Notes: sesuaikan dengan nama nodes kalian).\n\n---\nInstruksi: \"Tulis ringkasan kebiasaan belanja saya minggu ini dan beri 1 saran penghematan.\"\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        544,
        -112
      ],
      "id": "c38612dd-fec3-4bd2-8a05-4881ad045229",
      "name": "Analisis"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        -272
      ],
      "id": "1c9f295d-1549-47c3-8458-7c0d50d396ee",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PCY0uEOwKP9NhjVU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -16
      ],
      "id": "2de8610c-7520-400f-9751-7950d41537d3",
      "name": "Jadwalkan Setiap Hari Minggu"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16cp3wbcvMdM801NT9kFWo3jxUkCIcxktzo52c6KkxeQ",
          "mode": "list",
          "cachedResultName": "Data Dummy Catatan Keuangan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16cp3wbcvMdM801NT9kFWo3jxUkCIcxktzo52c6KkxeQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16cp3wbcvMdM801NT9kFWo3jxUkCIcxktzo52c6KkxeQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        -16
      ],
      "id": "d77b1d75-7d1c-4ee4-a8cf-ba0c86919214",
      "name": "Ambil Log Pengeluaran",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iGrHos0duFyJ0R1v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst today = new Date();\ntoday.setHours(23, 59, 59, 999); // inklusif hari ini sampai akhir hari\n\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(today.getDate() - 7);\nsevenDaysAgo.setHours(0, 0, 0, 0);\n\nlet weeklyExpenses = [];\nlet formattedString = \"Data pengeluaran saya minggu ini:\\n\";\nlet hasExpenses = false;\n\nfor (const item of items) {\n  const rawTanggal = item.json.Tanggal; // format: \"13/04/2026\"\n  \n  // Parse manual DD/MM/YYYY → YYYY-MM-DD agar valid di semua engine\n  const [day, month, year] = rawTanggal.split(\"/\");\n  const expenseDate = new Date(`${year}-${month}-${day}`);\n\n  if (expenseDate >= sevenDaysAgo && expenseDate <= today) {\n    weeklyExpenses.push(item.json);\n    formattedString += `- ${item.json.Deskripsi}: Rp${item.json[\"Jumlah (IDR)\"]}\\n`;\n    hasExpenses = true;\n  }\n}\n\nreturn [{\n  json: {\n    promptData: formattedString,\n    hasExpenses: hasExpenses\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -16
      ],
      "id": "ede8e735-fea2-45a9-816e-ff6693e184b6",
      "name": "Filter 7 Hari dan Format Teks"
    },
    {
      "parameters": {
        "chatId": "1492595082",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        -112
      ],
      "id": "6047c1ff-ad6e-438c-a587-bbf0ca0b3db1",
      "name": "Pesan [TRUE]",
      "webhookId": "5a9e2953-fd75-4ac9-8cbc-a0bf9e3e1f27",
      "credentials": {
        "telegramApi": {
          "id": "OrVOckaYs7PxxLt4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1492595082",
        "text": "Tidak ditemukan pengeluaran 7 hari terakhir",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        96
      ],
      "id": "a81d6986-9055-432f-bf0d-0bfd9a479687",
      "name": "Pesan [FALSE]",
      "webhookId": "5a9e2953-fd75-4ac9-8cbc-a0bf9e3e1f27",
      "credentials": {
        "telegramApi": {
          "id": "OrVOckaYs7PxxLt4",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Analisis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pesan [FALSE]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis": {
      "main": [
        [
          {
            "node": "Pesan [TRUE]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Jadwalkan Setiap Hari Minggu": {
      "main": [
        [
          {
            "node": "Ambil Log Pengeluaran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Log Pengeluaran": {
      "main": [
        [
          {
            "node": "Filter 7 Hari dan Format Teks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 7 Hari dan Format Teks": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04b95c2f46319473af2c6f83e011a1ddc73025f83f7530dc90eb04615e801b58"
  }
}