Pencatatan Pengeluaran Keuangan dari Email.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -384,
        -16
      ],
      "id": "3b5e99f5-27f1-4821-b3ff-bed2040a8b47",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "hZhUFPRSpX79K5pe",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.from}}",
                    "rightValue": "work.with.pramidha@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "59a4c830-4b64-423a-b775-62d1fa843be5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IDCloudHost"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cb26600b-7b96-46df-907d-baf078c1ad5a",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "pramidhablue@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Grab"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4ebba1ad-1578-4160-9845-4bbb122f4a61",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "nursucip8@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tokopedia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -176,
        -32
      ],
      "id": "1529588d-a9ab-4813-bb0b-2017ae1aa086",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        -32
      ],
      "id": "39cca60a-7563-4362-89fe-45e0a8defa58",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17io6PnmaAjRLlTIUrvOGlx4cZ1RO1rO19ZrBSUOWID8",
          "mode": "list",
          "cachedResultName": "Pencatat Keuangan dari Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17io6PnmaAjRLlTIUrvOGlx4cZ1RO1rO19ZrBSUOWID8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17io6PnmaAjRLlTIUrvOGlx4cZ1RO1rO19ZrBSUOWID8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{ $json.Tanggal}}",
            "Jumlah ": "={{ $json.Jumlah }}",
            "Produk": "={{ $json.Nominal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jumlah ",
              "displayName": "Jumlah ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Produk",
              "displayName": "Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        -16
      ],
      "id": "7e8f8d11-2f15-4d62-b7df-6307beac1440",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iGrHos0duFyJ0R1v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf44faac-3da2-4c7f-8739-cdfb29b5381c",
              "name": "Tanggal",
              "value": "={{ $('Email Trigger (IMAP)').item.json.date }}",
              "type": "string"
            },
            {
              "id": "6886b326-de02-4785-bcac-5267dcbc2431",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total.*?Rp\\s*([\\d\\.]+)/s)?.[1].replace(/\\.g/g, '') }}",
              "type": "string"
            },
            {
              "id": "df52704b-ea4b-4fde-b6a3-a0a28ae9c22c",
              "name": "Nominal",
              "value": "Cloud",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -224
      ],
      "id": "c3733e63-cff9-45c6-82aa-b1a2639b5269",
      "name": "IDCloudHost"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5b33277-f700-4d4a-8d5b-dee2aa50b707",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "a7505363-d4ff-4fa3-9e27-4d2a377b3a58",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total Tarif.*?([\\d\\.]+)/s)?.[1].replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "79244143-96a5-49fb-a994-cd742ebe5e12",
              "name": "Nominal",
              "value": "=Grab",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -16
      ],
      "id": "75b76179-f568-4513-93b5-52abb6c6d6bf",
      "name": "Grab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "367e259b-e8e3-47de-a641-9f66b721ad67",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "4ec2f987-4fe5-4d6f-b28c-c1695add9ff9",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total\\s*(?:Tagihan|Bayar|Belanja)\\s*:?\\s*Rp\\s*([\\d\\.]+)/i)?.[1].replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "0ceac4c7-404b-4979-8761-c86a87dc50f6",
              "name": "Nominal",
              "value": "={{ $json.textPlain.match(/Rp\\s*([\\d\\.]+)/i)?.[1].replace(/\\./g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        192
      ],
      "id": "69d13c65-d49a-4d5d-8376-0bdb1951cdae",
      "name": "Tokopedia"
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "IDCloudHost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tokopedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IDCloudHost": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tokopedia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04b95c2f46319473af2c6f83e011a1ddc73025f83f7530dc90eb04615e801b58"
  }
}