Peringkas Berita Harian Keuangan.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        16
      ],
      "id": "b1dc427e-c2c6-43f3-8ecb-11ba008b8cb3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://rss.tempo.co/bisnis",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -320,
        -176
      ],
      "id": "066fe22f-c9d8-4e16-bd13-91ff71477c81",
      "name": "Tempo Bisnis RSS"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -320,
        16
      ],
      "id": "b3ec9a2c-a88c-4793-8a14-81e5d7918ebc",
      "name": "Detik FInance RSS"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -16,
        0
      ],
      "id": "d0abc0f0-952b-4815-bd4c-f3d7bbaf4f51",
      "name": "Menggabungkan 2 Output RSS"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "f735db30-77ac-4447-9676-e83c5afd7e9e",
      "name": "Membatasi Hanya 2 Berita"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        0
      ],
      "id": "f08ad08f-a94f-45d6-b948-d41e64cfbffe",
      "name": "Unduh Halaman Web dari Setiap URL"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        656,
        0
      ],
      "id": "4e81b364-0f30-4f35-872e-6dc04a939692",
      "name": "Clean kode HTML dan Ekstrak"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        864,
        0
      ],
      "id": "96e716f0-a7bb-48ce-9190-7a8b1ea448f2",
      "name": "Menggabungkan Menjadi 1 Blok Teks Besar"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berikut adalah 3 artikel berita keuangan teratas hari ini: {{ $json.text }}\n\nBerdasarkan hasil teks di atas, buatkan saya ringkasan eksekutif dari 2 berita utama dalam 5 poin",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1072,
        0
      ],
      "id": "9c643735-943b-41d1-9b6b-4f97883a8e6b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "chatId": "1492595082",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        0
      ],
      "id": "990461de-5fd8-4252-99fb-92c4e500a48f",
      "name": "Send a text message",
      "webhookId": "f17db245-03cc-41c9-9f03-1d3d1a2abdf8",
      "credentials": {
        "telegramApi": {
          "id": "OrVOckaYs7PxxLt4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1008,
        208
      ],
      "id": "0bc73465-c64e-46c0-b328-9ede27f71aa6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PCY0uEOwKP9NhjVU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Tempo Bisnis RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detik FInance RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tempo Bisnis RSS": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detik FInance RSS": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Menggabungkan 2 Output RSS": {
      "main": [
        [
          {
            "node": "Membatasi Hanya 2 Berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membatasi Hanya 2 Berita": {
      "main": [
        [
          {
            "node": "Unduh Halaman Web dari Setiap URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unduh Halaman Web dari Setiap URL": {
      "main": [
        [
          {
            "node": "Clean kode HTML dan Ekstrak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean kode HTML dan Ekstrak": {
      "main": [
        [
          {
            "node": "Menggabungkan Menjadi 1 Blok Teks Besar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menggabungkan Menjadi 1 Blok Teks Besar": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04b95c2f46319473af2c6f83e011a1ddc73025f83f7530dc90eb04615e801b58"
  }
}