Rekonsiliasi Otomatis.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        0
      ],
      "id": "4f8d195d-710f-4ef7-b569-a2e61a2ca7c7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// CODE NODE: CLEAN INTERNAL DATA (REVISI)\nconst results = [];\n\nfor (const item of $input.all()) {\n  const json = item.json;\n\n  // 1. Filter Tipe Transaksi\n  const tipe = json['Tipe Transaksi'];\n  if (tipe !== 'Pembayaran' && tipe !== 'Pengeluaran' && tipe !== 'Penerimaan') {\n    continue; \n  }\n\n  // 2. Bersihkan Tanggal (Hapus spasi & format ulang)\n  // Asumsi format di CSV/Sheet: DD/MM/YYYY\n  const rawDate = (json['Tanggal Transaksi'] || '').toString().trim();\n  const dateParts = rawDate.split('/');\n  // Pastikan date valid\n  if (dateParts.length !== 3) continue;\n  \n  const cleanDate = `${dateParts[2]}-${dateParts[1]}-${dateParts[0]}`;\n\n  // 3. PENTING: Bersihkan Angka dari titik (.) atau koma (,)\n  // Kita ubah jadi string dulu, hapus semua yang BUKAN angka, baru parse\n  const rawAmount = (json['Jumlah (IDR)'] || '0').toString();\n  const cleanAmount = parseInt(rawAmount.replace(/[^0-9]/g, ''));\n\n  // 4. Buat Match Key\n  const matchKey = `${cleanDate}_${cleanAmount}`;\n\n  results.push({\n    json: {\n      ...json,\n      clean_date: cleanDate,\n      clean_amount: cleanAmount,\n      match_key: matchKey,\n      sumber: 'Internal'\n    }\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -176
      ],
      "id": "f3c0ff71-26c4-42b1-82bb-10173ee4ee6e",
      "name": "Filter Baris"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12C8ycl-tRPXIvmXnVYR7-eLZl3RCa8CBEQZYi7NMwfU",
          "mode": "list",
          "cachedResultName": "Dummy Rekonsiliasi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12C8ycl-tRPXIvmXnVYR7-eLZl3RCa8CBEQZYi7NMwfU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12C8ycl-tRPXIvmXnVYR7-eLZl3RCa8CBEQZYi7NMwfU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        -176
      ],
      "id": "6ce6c8db-ee7a-49e7-8457-da1d0122a25f",
      "name": "Data Internal",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iGrHos0duFyJ0R1v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1uHAOogL7xUnMYwIiHvHA6SBTVliuC8Pi",
          "mode": "list",
          "cachedResultName": "Dummy Rekonsiliasi - Sheet2.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1uHAOogL7xUnMYwIiHvHA6SBTVliuC8Pi/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -256,
        176
      ],
      "id": "503a1f4d-28ec-4ac4-9c22-9fe87752ac25",
      "name": "Data Bank",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ii6AFuNCnoR3xvBe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -48,
        176
      ],
      "id": "44240260-24f6-4a2a-925f-54726ada8430",
      "name": "Mengubah File Binary"
    },
    {
      "parameters": {
        "jsCode": "// CODE NODE: CLEAN BANK DATA (REVISI)\nconst results = [];\n\nfor (const item of $input.all()) {\n  const json = item.json;\n\n  // 1. Bersihkan Tanggal\n  const rawDate = (json['Tanggal Bank'] || '').toString().trim();\n  const dateParts = rawDate.split('/');\n  if (dateParts.length !== 3) continue;\n\n  const cleanDate = `${dateParts[2]}-${dateParts[1]}-${dateParts[0]}`;\n\n  // 2. PENTING: Bersihkan Angka (Hapus titik ribuan Rupiah)\n  const rawAmount = (json['Jumlah (IDR)'] || '0').toString();\n  // Regex ini menghapus apa saja yang bukan angka (termasuk titik/koma)\n  const cleanAmount = parseInt(rawAmount.replace(/[^0-9]/g, ''));\n\n  // 3. Buat Match Key\n  const matchKey = `${cleanDate}_${cleanAmount}`;\n\n  results.push({\n    json: {\n      ...json,\n      clean_date: cleanDate,\n      clean_amount: cleanAmount,\n      match_key: matchKey,\n      sumber: 'Bank'\n    }\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        176
      ],
      "id": "5cfa109d-a65a-4528-8efc-4e2a6ce10898",
      "name": "Clean Data Bank"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        -160
      ],
      "id": "d624c9a1-6428-41d8-84b0-c907600294bc",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// CODE NODE: ANALISA REKONSILIASI LENGKAP (tanpa Union)\nconst items = $input.all();\nconst grouped = {};\n\n// 1. Group by match_key\nfor (const item of items) {\n  const key = item.json.match_key;\n  if (!grouped[key]) {\n    grouped[key] = { sources: [], details: [] };\n  }\n  grouped[key].sources.push(item.json.sumber);\n  grouped[key].details.push(item.json);\n}\n\n// 2. Bangun hasil analisa\nconst results = [];\nfor (const [key, group] of Object.entries(grouped)) {\n  const hasInternal = group.sources.includes('Internal');\n  const hasBank = group.sources.includes('Bank');\n\n  let status, pesan, priority;\n  if (hasInternal && hasBank) {\n    status = 'MATCHED';\n    pesan = '✅ Data klop (Cocok).';\n    priority = 'Low';\n  } else if (hasInternal && !hasBank) {\n    status = 'MISSING IN BANK';\n    pesan = '⚠️ Tercatat di Internal, tapi tidak ada di Bank.';\n    priority = 'High';\n  } else if (!hasInternal && hasBank) {\n    status = 'UNRECORDED INTERNAL';\n    pesan = '⚠️ Ada di Bank, tapi tidak tercatat di Internal.';\n    priority = 'Medium';\n  }\n\n  const internal = group.details.find(d => d.sumber === 'Internal');\n  const bank = group.details.find(d => d.sumber === 'Bank');\n  const refDate = (internal || bank)?.clean_date;\n  const amount = (internal || bank)?.clean_amount;\n\n  results.push({\n    json: {\n      Tanggal: refDate,\n      Nominal: amount,\n      Status: status,\n      Pesan: pesan,\n      Prioritas: priority,\n      Internal_ID: internal?.['ID Referensi'] || 'N/A',\n      Bank_ID: bank?.['ID Transaksi Bank'] || 'N/A',\n      Deskripsi: internal?.Deskripsi || bank?.['Deskripsi Transaksi'] || '-',\n      Match_Key: key,\n      Sources: group.sources.join(' + ')\n    }\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -160
      ],
      "id": "e04a1766-4f05-43ba-9c80-daa1fc8ff3f2",
      "name": "Analisa Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1786509-4522-4a6d-9928-600f208ee66c",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "MATCHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        -160
      ],
      "id": "1ad2bcc3-0cd3-4302-99de-10918e977b79",
      "name": "Cek Status Match"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        16
      ],
      "id": "1f66171f-564c-4928-b19e-d5b86be389c7",
      "name": "Tunggu 5 Menit",
      "webhookId": "69043ac8-cafa-4edb-a7cb-6de2c349f25a"
    },
    {
      "parameters": {
        "chatId": "1492595082",
        "text": "=🚨 **LAPORAN SELISIH KEUANGAN**  \n📅 Tanggal: {{ $json.Tanggal }} \n💰 Nominal: Rp {{ $json.Nominal }}  \n⚠️ **Status: {{ $json.Status }}** \n📝 Ket: {{ $json.Pesan }}  \n🔍 Ref Internal: {{ $json.Internal_ID }} \n🏦 Ref Bank: {{ $json.Bank_ID }} ℹ️ Desc: {{ $json.Deskripsi }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        -256
      ],
      "id": "7722636f-ecfe-41c4-be25-cc5fc32eabf5",
      "name": "Kirim Laporan Data [Sesuai]",
      "webhookId": "4b4320b7-5a58-4e06-8329-e61712a33986",
      "credentials": {
        "telegramApi": {
          "id": "OrVOckaYs7PxxLt4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1492595082",
        "text": "=🚨 **LAPORAN SELISIH KEUANGAN**  \n📅 Tanggal: {{ $json.Tanggal }} \n💰 Nominal: Rp {{ $json.Nominal }}  \n⚠️ **Status: {{ $json.Status }}** \n📝 Ket: {{ $json.Pesan }}  \n🔍 Ref Internal: {{ $json.Internal_ID }} \n🏦 Ref Bank: {{ $json.Bank_ID }} \nℹ️ Desc: {{ $json.Deskripsi }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        16
      ],
      "id": "b2f257d9-0564-4e96-a51c-8e7f99ffc55b",
      "name": "Kirim Laporan Data [Tidak Sesuai]",
      "webhookId": "4b4320b7-5a58-4e06-8329-e61712a33986",
      "credentials": {
        "telegramApi": {
          "id": "OrVOckaYs7PxxLt4",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Data Internal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Bank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Baris": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Internal": {
      "main": [
        [
          {
            "node": "Filter Baris",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Bank": {
      "main": [
        [
          {
            "node": "Mengubah File Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengubah File Binary": {
      "main": [
        [
          {
            "node": "Clean Data Bank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data Bank": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Analisa Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisa Status": {
      "main": [
        [
          {
            "node": "Cek Status Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Status Match": {
      "main": [
        [
          {
            "node": "Kirim Laporan Data [Sesuai]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tunggu 5 Menit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tunggu 5 Menit": {
      "main": [
        [
          {
            "node": "Kirim Laporan Data [Tidak Sesuai]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04b95c2f46319473af2c6f83e011a1ddc73025f83f7530dc90eb04615e801b58"
  }
}