Sistem Traise Phising AI.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        16
      ],
      "id": "f922c982-7061-4148-8a25-e1949a1aacce",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "UtsRQ00i2z23V1h8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "62b970e8-c261-4815-ae93-b887c9279e1b",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcainsurance",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cac28638-2131-4d44-a063-a9f355297e1e",
              "leftValue": "={{ $json.From }}",
              "rightValue": "haloblu@bcadigital.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d78ca15b-3381-470a-ab9a-24a1654afc99",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcalife.co.id",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "baccbac4-ca27-4da9-af1d-bb3e6c2e7f49",
              "leftValue": "={{ $json.From }}",
              "rightValue": "recruitmentbcaf@bcaf.id",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        16
      ],
      "id": "5e62943b-bd6d-4747-a6d6-e85d5969836e",
      "name": "Cek Allowlist"
    },
    {
      "parameters": {
        "chatId": "1492595082",
        "text": "=Ada email baru dari: {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -128
      ],
      "id": "e4d65953-af72-46fc-ad88-65cdfa97663f",
      "name": "Reminder Email dari Allowlist",
      "webhookId": "eaa8daa7-5152-478f-be06-ade24f113908",
      "credentials": {
        "telegramApi": {
          "id": "OrVOckaYs7PxxLt4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis teks email ini untuk tanda-tanda phishing keuangan. \nFokus pada urgensi palsu, tautan mencurigakan, permintaan info pribadi, atau peniruan identitas bank. Beri skor bahaya dari 1 sampai 10.\nJawab HANYA dengan format: 'Skor: [angka]'.\n\\n\\nEmail:{{ $json.snippet }}  \nSubject:{{ $json.Subject }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        112
      ],
      "id": "6dab1021-7dab-4df7-ae3d-f2b4ccf35d25",
      "name": "Analisa Phising"
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari node-node sebelumnya\n// $json.text adalah output dari Basic LLM Chain\nconst llmOutput = $json.text; \n\n// $json.id adalah Message ID yang datang dari \"Gmail Trigger\"\n// Node LLM Chain akan meneruskan data ini secara otomatis\nconst emailMessageId = $json.id; \n\n// Gunakan regex untuk menemukan \"Skor: [angka]\"\nconst match = llmOutput.match(/Skor:\\s*(\\d+)/);\n\nlet score = 0;\n\n// Jika ditemukan, ambil angkanya\nif (match && match[1]) {\n  score = parseInt(match[1], 10);\n}\n\n// Kembalikan skor DAN messageId untuk node IF dan Gmail\nreturn { \n  score: score,\n  messageId: emailMessageId \n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        112
      ],
      "id": "46c826dc-54af-48cb-a592-34268ae41445",
      "name": "Ekstrak Skor dari Teks AI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d12d3172-deb1-4f63-a455-2832eddd9072",
              "leftValue": "={{ $json.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        112
      ],
      "id": "9eac5797-52e6-471a-9d94-893e31feb2bb",
      "name": "Cek Skor Bahaya"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6456943986893169368"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        0
      ],
      "id": "dbe24081-217f-41e0-9605-6acb70967fc9",
      "name": "Memberikan Label Otomatis",
      "webhookId": "268deae5-0c6c-4faf-9240-ff873471dd3e",
      "credentials": {
        "gmailOAuth2": {
          "id": "UtsRQ00i2z23V1h8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1492595082",
        "text": "=⚠️ Tinjauan Email Diperlukan ⚠️  Email ini TIDAK dihapus, tapi AI mendeteksinya. Mohon periksa secara manual.   - Skor AI: {{ $json.score }}/10  - Dari: {{ $('Gmail Trigger').item.json.From }} - Subjek: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        240
      ],
      "id": "773e4ea4-7239-4430-944d-2a4a6041edd9",
      "name": "Send a text message",
      "webhookId": "f3829e69-6167-4c29-a525-1f060e78b415",
      "credentials": {
        "telegramApi": {
          "id": "OrVOckaYs7PxxLt4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        192,
        304
      ],
      "id": "f112b69c-fa07-4048-9361-1844eecc40a4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "q1V4eIb4MAY1TjSF",
          "name": "Groq account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Cek Allowlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Allowlist": {
      "main": [
        [
          {
            "node": "Reminder Email dari Allowlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analisa Phising",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisa Phising": {
      "main": [
        [
          {
            "node": "Ekstrak Skor dari Teks AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak Skor dari Teks AI": {
      "main": [
        [
          {
            "node": "Cek Skor Bahaya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Skor Bahaya": {
      "main": [
        [
          {
            "node": "Memberikan Label Otomatis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memberikan Label Otomatis": {
      "main": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisa Phising",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04b95c2f46319473af2c6f83e011a1ddc73025f83f7530dc90eb04615e801b58"
  }
}