Survey Kepuasan Karyawan.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5104b680-6aaf-4a0e-b4a5-023576a2a6f4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19NXeKmzBKJwLUumxd95MmCgprMJlNIfYzVAPnvLV4n0",
          "mode": "list",
          "cachedResultName": "Data Dummy Survey Kepuasan Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19NXeKmzBKJwLUumxd95MmCgprMJlNIfYzVAPnvLV4n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19NXeKmzBKJwLUumxd95MmCgprMJlNIfYzVAPnvLV4n0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "d9ab6cbb-f7ae-487d-9673-b77ac232c94b",
      "name": "Mengambil Hasil Survey",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iGrHos0duFyJ0R1v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop semua baris data dari Google Sheet\nfor (const item of items) {\n  // Ambil data feedback dari kolom B\n  const feedbackText = item.json.feedback;\n\n  // Lewati baris jika feedback kosong\n  if (!feedbackText) continue;\n\n  // Buat Prompt Khusus.\n  // Kita minta output JSON agar mudah diolah mesin.\n  const prompt = `\n  Analyze this employee feedback in Indonesian: \"${feedbackText}\"\n\n  Tasks:\n  1. Determine sentiment (POSITIVE, NEUTRAL, NEGATIVE).\n  2. Categorize the issue (e.g., Facility, Management, Salary, Workload, Training).\n  3. Suggest a quick action (max 5 words).\n\n  You must output ONLY valid JSON in this format:\n  {\n    \"sentiment\": \"...\",\n    \"category\": \"...\",\n    \"action_plan\": \"...\"\n  }\n  `;\n\n  // Simpan prompt ke property baru 'ai_prompt' untuk dikirim ke node HTTP Request\n  item.json.ai_prompt = prompt;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "b52d50a4-9e66-4267-8079-36823a9c98ae",
      "name": "Menyiapkan Prompt"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "9b400e66-c6fa-4f71-9663-6279feccee87",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Context: You are a Senior HR Specialist analyzing employee feedback.\n\nFeedback to analyze: \"{{ $json.feedback }}\"\n\nInstruction: Analyze the feedback based on the provided schema. \nYou MUST respond ONLY with a valid JSON object. \nDO NOT include any introductory text, explanations, or markdown code blocks (like ```json). \nOutput only the raw JSON.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        864,
        16
      ],
      "id": "bd344ab9-a90d-467a-aae1-3b8e0e146071",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19NXeKmzBKJwLUumxd95MmCgprMJlNIfYzVAPnvLV4n0",
          "mode": "list",
          "cachedResultName": "Data Dummy Survey Kepuasan Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19NXeKmzBKJwLUumxd95MmCgprMJlNIfYzVAPnvLV4n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19NXeKmzBKJwLUumxd95MmCgprMJlNIfYzVAPnvLV4n0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sentiment": "={{ $json.sentiment }}",
            "category": "={{ $json.category }}",
            "action_plan": "={{ $json.action_plan }}",
            "employee_id": "={{ $json.employee_id }}"
          },
          "matchingColumns": [
            "employee_id"
          ],
          "schema": [
            {
              "id": "employee_id",
              "displayName": "employee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action_plan",
              "displayName": "action_plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        16
      ],
      "id": "a55bfc59-1730-4e32-b200-061015c86ceb",
      "name": "Update Survey",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iGrHos0duFyJ0R1v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        752,
        224
      ],
      "id": "d1a12b10-cca9-48b0-af06-0698cc0436b2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "q1V4eIb4MAY1TjSF",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiText = $input.item.json.text || \"\"; \n\nconst cleanText = aiText.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\ntry {\n  const result = JSON.parse(cleanText);\n  \n  return {\n    employee_id: $('Loop Over Items').item.json.employee_id,\n    \n    // DATA DARI AI\n    sentiment: result.sentiment || \"Neutral\",\n    category: result.category || \"General\",\n    // Groq sering pakai 'recommendation' di JSON-nya\n    action_plan: result.recommendation || result.action_plan || \"No action needed\"\n  };\n} catch (e) {\n\n  return {\n    employee_id: $('Loop Over Items').item.json.employee_id,\n    sentiment: \"Error\",\n    category: \"Error\",\n    action_plan: \"AI tidak mengirim format JSON\"\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        16
      ],
      "id": "7e97ed8b-d0b0-4461-a86a-cea9df238d84",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Mengambil Hasil Survey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengambil Hasil Survey": {
      "main": [
        [
          {
            "node": "Menyiapkan Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menyiapkan Prompt": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update Survey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04b95c2f46319473af2c6f83e011a1ddc73025f83f7530dc90eb04615e801b58"
  }
}